.space {
  width: auto;
  padding: 10px;

  font-family: 微軟正黑體;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.space1 {

  width: 280px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  line-height: 15px;
}

.accordion {
  background: hsla(0, 0%, 99%, 0);

  color: rgb(77, 6, 6);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 30px;
  font-weight: bold;
  font-family: 標楷體;
  transition: 0.4s;
}



.active,
.accordion:hover {
  background-color: #ccc 0.5;
}


.panel {
  padding: 0 18px;
  display: none;
  background-color: white 0.5;
  overflow: hidden;
}